@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 2rem;
  border-left: 30px solid purple;
  border-right: 30px solid purple;
  background-color: plum;
  min-height: 100vh;
  font-style: italic;
}

.container {
  width: 1000px;
  margin: auto;
  padding: 2rem;
  max-width: 100%;
}

.logo {
  font-size: 4rem;
  color: purple;
}

h1 {
  color: purple;
  font-size: 4rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 a {
  transform: scale(0.7);
}

a {
  color: aliceblue;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  position: relative;
}

a::after {
  transform: skew(-20deg);
  background-color: rgb(201, 107, 201);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-top: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex: 1;
}

.text {
  font-size: 2rem;
}

.text p {
  font-weight: 200;
}

.img {
  margin: 3rem 0;
  box-shadow: 200px 200px rgb(201, 107, 201);
}

.image {
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px rgb(201, 107, 201);
}

.block {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.footer{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .col:first-child {
    margin-right: 0;
  }
  h1 {
    text-align: center;
  }
  .col {
    text-align: center;
  }
}
